 <!DOCTYPE html>
<html>
<head>
    <title>Додавання предмету</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
         <h1>Додавання предмету</h1>
     <form method="POST">
        <label>Назва предмету</label><br>
        <input name="namepredmet" class="field"/><br><br>
        <label>Погодинна оплата</label><br>
        <input name="hoursoplata"class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/4">До списку предметів</a>
</body>
<html>