 <!DOCTYPE html>
<html>
<head>
    <title>Додавання групи</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
         <h1>Додавання групи</h1>
     <form method="POST">
        <label>Спецільність</label><br>
        <input name="Special" class="field"/><br><br>
        <label>Відділення</label><br>
        <input name="Viddilenya"class="field"/><br>
        <label>К-сть студентів</label><br>
        <input name="NumberOfStudents" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/1">До списку груп</a>
</body>
<html>