 <!DOCTYPE html>
<html>
<head>
    <title>Додавання навантаження</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
         <h1>Додавання навантаження</h1>
     <form method="POST">
        <label>StudentsId</label><br>
        <input name="StudentsId" class="field"/><br><br>
        <label>TeachersId</label><br>
        <input name="TeachersId"class="field"/><br>
        <label>NumOfHours</label><br>
        <input name="NumOfHours" class="field"/><br><br>
        <label>Predmet</label><br>
        <input name="Predmet" class="field"/><br><br>
        <label>TypeZanyttya</label><br>
        <input name="TypeZanyttya"class="field"/><br>
        <label>Oplata</label><br>
        <input name="Oplata" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/2">До списку навантаження</a>
</body>
<html>