<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Додавання викладача</h1>
     <form method="POST">
        <label>Прізвище</label><br>
        <input name="surname" class="field"/><br><br>
        <label>Ім'я</label><br>
        <input name="name"class="field"/><br>
        <label>По-батькові</label><br>
        <input name="pobatkovi" class="field"/><br><br>
        <label>Телефон</label><br>
        <input name="telephone" type="number" class="field" min="1" /><br>
        <label>Стаж</label><br>
        <input name="stage" type="number" class="field" min="1" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">До списку викладачів</a>

</body>
<html>
