 <!DOCTYPE html>
<html>
<head>
    <title>Додавання навантаження</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
         <h1>Додавання навантаження</h1>
     <form method="POST">
        <label>TeachersId</label><br>
        <input name="teachersid" class="field"/><br><br>
        <label>StudentsId</label><br>
        <input name="studentsid"class="field"/><br>
        <label>NumOfHours</label><br>
        <input name="numofhours" class="field"/><br><br>
        <label>Predmet</label><br>
        <input name="namepredmet" class="field"/><br><br>
        <label>TypeZanyttya</label><br>
        <input name="typepredmet"class="field"/><br>
        <label>Oplata</label><br>
        <input name="oplata" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/2">До списку навантаження</a>
</body>
<html>
